.content {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family: "Sukhumvit Set";
}

div{
  font-family: "Sukhumvit Set";
  font-size: 20px;
}

footer{
  background-color: rgb(36, 110, 196);
  width: 100%;
  height: 350px;
  display: flex;
}

.info-footer-left{
  color: white;
  font-size: 25px;
  margin-left: 50px;
  padding: 10px;
  flex: 50%;
}

.info-footer-right{
  color: white;
  font-size: 25px;
  padding: 10px;
  margin-right: 50px;
}

@media (max-width: 800px) {
  .info-footer-left, .info-footer-right {
    flex: 100%;
  }
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #dddddd;
  padding: 10px;
  flex: 50%;
  border-radius: 20px;
  box-shadow: 4px 8px #8b8b8b;
}

.flex-item-right {
  background-color: rgb(38, 120, 226);
  padding: 10px;
  flex: 50%;
  color: white;
  border-radius: 20px;
  box-shadow: 8px 8px #81bffa;
}

@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

.flex-item-left1 {
  padding: 10px;
  flex: 50%;
  border-radius: 20px;
}

.flex-item-right1 {
  padding: 10px;
  flex: 50%;
  color: white;
  border-radius: 20px;
}

@media (max-width: 800px) {
  .flex-item-right1, .flex-item-left1 {
    flex: 100%;
  }
}
