.container{
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}


.flex-doctor{
  padding: 10px;
  flex: 50%;
  background-color: rgb(97, 106, 107  );
  color: white;
  font-size: 20px;
  font-family: "Sukhumvit Set";
  height: 400px;
  margin-top: 50px;
  border-radius: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

  